[submodule "ext/zlib-ng"]
	path = ext/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
	shallow = true
[submodule "ext/robin-map"]
	path = ext/robin-map
	url = https://github.com/Tessil/robin-map.git
	shallow = true
[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	shallow = true
[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
	shallow = true
[submodule "ext/pystring"]
	path = ext/pystring
	url = https://github.com/imageworks/pystring.git
	shallow = true
[submodule "ext/minizip-ng"]
	path = ext/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
	shallow = true
[submodule "ext/libpng"]
	path = ext/libpng
	url = https://github.com/pnggroup/libpng.git
	shallow = true
[submodule "ext/OpenJPH"]
	path = ext/OpenJPH
	url = https://github.com/aous72/OpenJPH.git
	shallow = true
[submodule "ext/libjpeg-turbo"]
	path = ext/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
	shallow = true
[submodule "ext/libtiff"]
	path = ext/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
	shallow = true
[submodule "ext/Imath"]
	path = ext/Imath
	url = https://github.com/AcademySoftwareFoundation/Imath.git
	shallow = true
[submodule "ext/openexr"]
	path = ext/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
	shallow = true
[submodule "ext/OpenColorIO"]
	path = ext/OpenColorIO
	url = https://github.com/AcademySoftwareFoundation/OpenColorIO.git
	shallow = true
[submodule "ext/OpenImageIO"]
	path = ext/OpenImageIO
	url = https://github.com/AcademySoftwareFoundation/OpenImageIO.git
	shallow = true
[submodule "ext/cpython"]
	path = ext/cpython
	url = https://github.com/python/cpython.git
	shallow = true
[submodule "ext/boost"]
	path = ext/boost
	url = https://github.com/boostorg/boost.git
	shallow = true
[submodule "ext/embree"]
	path = ext/embree
	url = https://github.com/RenderKit/embree
	branch = v4.4.1
	shallow = true
[submodule "ext/bzip2"]
	path = ext/bzip2
	url = https://gitlab.com/bzip2/bzip2
[submodule "ext/xz"]
	path = ext/xz
	url = https://github.com/tukaani-project/xz
[submodule "ext/libexpat"]
	path = ext/libexpat
	url = https://github.com/libexpat/libexpat
[submodule "ext/libdeflate"]
	path = ext/libdeflate
	url = https://github.com/ebiggers/libdeflate
[submodule "ext/tbb"]
	path = ext/tbb
	url = https://github.com/uxlfoundation/oneTBB
