.flatpak-builder/
.build-dir/
.vscode
extract-binaries/liblux.so
extract-binaries/luxcomp
extract-binaries/luxconsole
extract-binaries/luxmerger
extract-binaries/luxrender
extract-binaries/pylux.so
extract-binaries/shared/libboost_atomic.so.1.56.0
extract-binaries/shared/libboost_chrono.so.1.56.0
extract-binaries/shared/libboost_date_time.so.1.56.0
extract-binaries/shared/libboost_filesystem.so.1.56.0
extract-binaries/shared/libboost_iostreams.so.1.56.0
extract-binaries/shared/libboost_program_options.so.1.56.0
extract-binaries/shared/libboost_python.so.1.56.0
extract-binaries/shared/libboost_python3.so.1.56.0
extract-binaries/shared/libboost_regex.so.1.56.0
extract-binaries/shared/libboost_serialization.so.1.56.0
extract-binaries/shared/libboost_system.so.1.56.0
extract-binaries/shared/libboost_thread.so.1.56.0
extract-binaries/shared/libdeflate.so.0
extract-binaries/shared/libembree.so.2
extract-binaries/shared/libGLU.so.1
extract-binaries/shared/libglut.so.3
extract-binaries/shared/libHalf.so.12
extract-binaries/shared/libIex-2_2.so.12
extract-binaries/shared/libIlmImf-2_2.so.22
extract-binaries/shared/libIlmThread-2_2.so.12
extract-binaries/shared/libImath-3_1.so
extract-binaries/shared/libOpenImageIO.so.1.6
extract-binaries/shared/libOpenImageIO_Util.so.1.6
extract-binaries/shared/libpython3.5m.so.1.0
extract-binaries/shared/libpython3.so
extract-binaries/shared/libtbb.so
extract-binaries/shared/libtbbmalloc.so
