[Desktop Entry]
Version=1.5
Name=LuxMark 3
Comment=OpenCL benchmark
Type=Application
Terminal=false
Exec=luxmark
Categories=System;
Icon=info.luxmark.luxmark3
Keywords=benchmark;opencl;luxcore;luxcorerender
